<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="srclib.huyanwei.phonelistener"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

     <!-- 唤醒锁 -->
     <uses-permission android:name="android.permission.WAKE_LOCK" />
     
     <!-- 上网 -->
     <uses-permission android:name="android.permission.INTERNET" />
     
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 
     <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />

     <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    
     <!-- 短消息  -->
     <uses-permission android:name="android.permission.SEND_SMS" />
    
      　  <!-- 读取电话状态权限-->
     <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
     
     <uses-permission android:name="android.permission.CAMERA" />
     
       　 <!-- 录音权限 -->
     <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    
     <!-- 在SDCard中创建与删除文件权限 -->  
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> 
    
   　　<!-- 向sdcard中写数据的权限 -->
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
     
   　　<!-- 开机启动广播的权限 -->
     <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
     
   　　<!-- 挂断电话时需要的权限 -->
     <uses-permission android:name="android.permission.CALL_PHONE" />
     
     <!-- 外拨电话 -->
     <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
     
     <!-- 震动权限 -->
     <uses-permission android:name="android.permission.VIBRATE"/>
     
     <!-- 自定义 权限 --> 
     <permission
        android:name="srclib.huyanwei.phonelistener.permission.READ_SETTINGS"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal"
        android:label="@string/perm_lab_read_settings"
        android:description="@string/perm_desc_read_settings"/>
     <permission
        android:name="srclib.huyanwei.phonelistener.permission..WRITE_SETTINGS"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal"
        android:label="@string/perm_lab_write_settings"
        android:description="@string/perm_desc_write_settings"/>
     
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"            
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"            
            android:name=".Welcome"
            android:label="@string/help_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
         <receiver android:name=".BootCompletedReceiver">
             <intent-filter>
              <action android:name="android.intent.action.BOOT_COMPLETED" />  
             </intent-filter>
        </receiver>

        <receiver android:name=".PhoneStateReceiver" android:priority="10000">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
        
        <service android:name=".PhoneListenerService"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>
        
        <!-- The config provider -->
        <provider
            android:name="srclib.huyanwei.phonelistener.ConfigContentProvider"
            android:authorities="srclib.huyanwei.phonelistener"
            android:writePermission="srclib.huyanwei.phonelistener.permission.WRITE_SETTINGS"
            android:readPermission="srclib.huyanwei.phonelistener.permission.READ_SETTINGS" />
    </application>

</manifest>