<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="srclib.huyanwei.permissiongrant"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <!--category android:name="android.intent.category.LAUNCHER" -->

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
	android:persistent="true"
	>
        
        <activity
	    android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:name=".RequestDialog"
            android:theme="@style/Theme.FloatActivity"
            >
            <intent-filter >                
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
            
        <activity
	    android:excludeFromRecents="true"
            android:label="@string/VIEW_LIST"
            android:name=".GrantListActivity"
            android:theme="@style/Theme.FloatActivity"
            >
            <intent-filter >                
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>            
            
        <activity
	    android:excludeFromRecents="true"
            android:label="@string/VIEW_LOG"
            android:name=".GrantLogActivity"
            android:theme="@style/Theme.FloatActivity"
            >
            <intent-filter >                
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver android:name="RequestBroadcastReceiver">
            <intent-filter>                
                <action android:name="srclib.huyanwei.permissiongrant.request" />
            </intent-filter>
        </receiver>            
            
        <receiver android:name="ResponseBroadcastReceiver">
            <intent-filter>                
                <action android:name="srclib.huyanwei.permissiongrant.response" />
            </intent-filter>
        </receiver>            
            
    </application>

    <uses-permission android:name="srclib.huyanwei.permissiongrant.broadcast" />
    <permission android:name="srclib.huyanwei.permissiongrant.broadcast"
        android:label="@string/app_name"
        android:description="@string/app_name"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="signature" />

</manifest>
